<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Book List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="header">
        <h1 class="app-title"><a href="/">わたしの本だな</a></h1>
        <div class="member-menu">
            <a href="/add" class="menu-link"></a>
            <a href="/myp" class="menu-link"></a>
            <a href="/logout" class="menu-link">ログアウト</a>
        </div>
    </header>
    <div class="bookdata">
        <img src="" alt="" class="book2">
        <div class="book_title">
            <h2>タイトル</h2>
            <h2>作者</h2>
            <h2>出版社</h2>
            <h3>日付</h3>
        </div>
        <div class="add_btn">
            <a href="" class="btn btn--circle">本を <br>ついか <br>+</a>
        </div>
    </div>

</body>