<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教師用</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/t_style.css') }}">
</head>

<body>
    <header class="header">
        <h1 class="app-title"><a href="/">わたしの本だな（管理画面）</a></h1>
        <div class="member-menu">
            <a href="/login" class="menu-link">生徒ログイン画面</a>
            <a href="/te_login" class="menu-link">もどる</a>
            <a href="/logout" class="menu-link">ログアウト</a>
        </div>
    </header>
    <main>
        <h1>生徒名簿</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>出席番号</th>
                    <th>生徒名</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="student1.html">生徒1</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="student2.html">生徒2</a></td>
                </tr>
                <!-- 他の生徒の情報も同様に追加 -->
            </tbody>
        </table>
    </main>


</body>

</html>