<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>タイトル入力</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.css">
    <link rel="stylesheet" href="../css/add_style.css">
</head>

<body>
    <div class="container">
        <div class="form-title">タイトル名を入力してください。</div>
        <form>
            <label for="title">タイトル：</label>
            <input type="text" id="title" name="title" placeholder="ここにかいてね" required>
        </form>
    </div>
</body>

</html>